@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Vue Flow
  --vf-node-bg: var(--vscode-sidebar-background);
  --vf-node-color: var(--vscode-editorwidget-border);
  --vf-node-text: var(--vscode-foreground);

  // Vue Select
  --vs-controls-color: #664cc3;
  --vs-border-color: #664cc3;

  --vs-dropdown-bg: #282c34;
  --vs-dropdown-color: #cc99cd;
  --vs-dropdown-option-color: #cc99cd;

  --vs-selected-bg: #664cc3;
  --vs-selected-color: #eeeeee;

  --vs-search-input-color: #eeeeee;

  --vs-dropdown-option--active-bg: #664cc3;
  --vs-dropdown-option--active-color: #eeeeee;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  user-select: none;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.vscode-light {
  //color: black;
}

body.vscode-dark {
  //color: white;
}

body.vscode-high-contrast {
  //color: red;
}

// Vue Flow

.vue-flow__handle {
  width: 12px;
  height: 12px;
  border-color: #000;

  &.source {
    background-color: #47B8DC;
  }

  &.target {
    background-color: #92DC47;
  }
}

.vue-flow__node.selected {
  &::before {
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border: 2px solid #fff;
    border-radius: 0.375rem;
    pointer-events: none;
  }
}
