@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vf-node-bg: var(--vscode-sidebar-background);
  --vf-node-color: var(--vscode-editorwidget-border);
  --vf-node-text: var(--vscode-foreground);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.vscode-light {
  //color: black;
}

body.vscode-dark {
  //color: white;
}

body.vscode-high-contrast {
  //color: red;
}

.vue-flow__handle {
  width: 12px;
  height: 12px;
  border-color: #000;
}

.vue-flow__handle.source {
  background-color: #47B8DC;
}

.vue-flow__handle.target {
  background-color: #92DC47;
}

.vue-flow__node.selected {
  border: 2px solid #fff;
  border-radius: 0.375rem;
  margin-top: -2px;
  margin-left: -2px;
}
